{% extends 'layout.html' %} {% block title %} Cartes page {% endblock %} {%
block body %}
<!--TABLES-->
<table class="table">
  <thead>
    <tr class="table-dark">
      <th scope="col"></th>
      <th scope="col">Type</th>
      <th scope="col">Prix</th>
      <th scope="col">Achte</th>
    </tr>
  </thead>
  <tbody>
    <!--JINJA LOGIC-->
    {% for carte in cartes %}
    <!--MODAL-->
    {% include 'includes/item_modal.html' %}
    <tr class="table-dark">
      <th scope="row"></th>
      <!--<td>{{ carte.id }}</td>-->
      {% if carte.type_carte == 'Unlimited' %}
      
      <td>{{ carte.type_carte }}</td>
      
      {% else %}
      
      <td>{{ carte.type_carte }} Minutes</td>
      
      {% endif %}
      
      <td>{{ carte.solde }}£</td>
      <td>
        <button class="btn btn-outline btn-success" data-bs-toggle="modal" data-bs-target="#buyModal-{{ carte.id }}">Achte</button>
      </td>
    </tr>
    {% endfor %}
    <!--JINJA LOGIC END-->
  </tbody>
</table>
{% endblock%}
